@font-face {
  font-family: "titillium";
  src: url('/assets/font/Titillium_regular/titillium-regular-webfont.eot');
  src: url('/assets/font/Titillium_regular/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/font/Titillium_regular/titillium-regular-webfont.woff2') format('woff2'),
  url('/assets/font/Titillium_regular/titillium-regular-webfont.woff') format('woff'),
  url('/assets/font/Titillium_regular/titillium-regular-webfont.ttf') format('truetype'),
  url('/assets/font/Titillium_regular/titillium-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "aleoregular";
  src: url('/assets/font/Aleo_regular/aleo-regular-webfont.eot');
  src: url('/assets/font/Aleo_regular/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/font/Aleo_regular/aleo-regular-webfont.woff2') format('woff2'),
  url('/assets/font/Aleo_regular/aleo-regular-webfont.woff') format('woff'),
  url('/assets/font/Aleo_regular/aleo-regular-webfont.ttf') format('truetype'),
  url('/assets/font/Aleo_regular/aleo-regular-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;

}

b {

  font-weight: 900 !important;
}

i {
  font-style: italic;
}




.container {
  background: #f9b03c;
}
.navbar {
  background: #fff;
}
.nav_menu {
  background: #2A3F54;
  height: 57px;
}

#menu_toggle i {
  color: #fff;
  margin-left: 15px;
  margin-top: 3px;
}

.navbar span{
  font-family: 'Titillium', sans-serif;
  color: #2A3F54;
}

#logo_admin {
  height: 75% !important;
  margin-left: 8px !important;
  margin-right: 20px !important;
  border-radius: 0 !important;
}

.nav-sm .container.body .col-md-3.left_col {
  width: 90px;
}

.nav-sm .navbar.nav_title{
  width: 90px;
}





